<header class="navbar">
  <div class="logo-container">
    <span class="title">GASSI PERU</span>
    <img src="assets/logofinalfinal.png" alt="GASSI PERU" class="logo">
  </div>
  

  <nav class="nav-links">
    <a href="#inicio">INICIO</a>
    <a href="#quienes-somos">QUIENES SOMOS</a>
    <a href="#servicios">SERVICIOS</a>
    <a href="#nosotros">NOSOTROS</a>
    <a href="#contacto">CONTÁCTENOS</a>
  </nav>
  
  <div class="contact-info">
    <span class="call-text">Llámanos: </span>
    <span class="phone-number">923 496 245</span>
  </div>
</header>



<div id="inicio" class="carousel">
  <button (click)="prev()">❮</button>
  <div class="slides">
    <div *ngFor="let slide of slides; let i = index" class="slide" [class.active]="i === currentIndex">
      <img [src]="slide.image" />
      <div class="caption">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
        <a href="#contacto" class="btn">Más Información »</a>

      </div>
    </div>
  </div>
  <button (click)="next()">❯</button>
</div>
<section id="quienes-somos" class="about-us2">
  <h2>QUIÉNES SOMOS?</h2>
  <p>
    Somos un equipo de especialistas con sólidos conocimientos
adquiridos en nuestra amplia trayectoria aplicados a buscar y
brindar soluciones<br>

    <span *ngIf="mostrarTextoCompleto">
      personalizadas e innovadoras en
consultoría, asesoría, entrenamiento especializado e ingeniería, <br>
lo cual nos permite alcanzar mejores resultados que aporten un
valor agregado a los objetivos de nuestros clientes.
    </span>
  </p>
  <button  (click)="toggleTexto()" class="btn">
    {{ mostrarTextoCompleto ? 'Leer Menos »' : 'Leer Más »' }}
  </button>
</section>




<section id="servicios" class="services">
  <h2>SERVICIOS</h2>
  <div class="services-grid">
    <div *ngFor="let service of services" class="service-card" (mouseenter)="service.hover = true"
      (mouseleave)="service.hover = false">
      <div class="card-inner" [class.flipped]="service.hover">
        <!-- Parte Frontal -->
        <div class="card-front">
          <img [src]="service.image" class="card-image" />
          <div class="card-title">
            <img [src]="service.icon" class="icon" />
            <p>{{ service.title }}</p>
          </div>
        </div>

        <!-- Parte Trasera -->
        <div class="card-back">
          <p>{{ service.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="nosotros"  class="about-us">
  <div class="overlay">
    <div class="content">
      <img src="assets/serviciofinal.png" class="icon" alt="Icono Nosotros" />
      <h2>NUESTRO VALOR AGREGADO</h2>
      <p>
        Personal con amplia experiencia en los
        diferentes sectores de la industria.
        Talento Humano de alto desempeño
        Servicio en base a estrategias a la
        medida de nuestros clientes
        Contamos con una línea de servicios
        para pequeños y medianos empresarios
        que quieren tener presencia y
        competitividad en el mercado.
    </div>

    <div class="columns">
      <div class="content">
        <h2>VISION</h2>
        <p>Ser una empresa reconocida como líder en el
          sector de consultoría, asesoría ingeniería,
          destacando por nuestra capacidad de
          transformar desafíos en oportunidades,
          promoviendo el desarrollo sostenible y la
          excelencia en cada proyecto que
          emprendemos, tanto a nivel regional como
          nacional.
        </p>
      </div>
      <div class="content">
        <h2>MISION</h2>
        <p>
          Proporcionar a nuestros clientes un servicio de calidad con soluciones
          innovadoras que generen valor diferenciado e impulsen el desarrollo
          regional y nacional
        </p>
      </div>
    </div>
  </div>
</section>

<div class="timeline-container">
  <div class="timeline">
    <div *ngFor="let stat of stats" class="timeline-item">
      <div class="stat-number">
        <img [src]="stat.icon" alt="{{ stat.label }}" class="stat-icon" />
      </div>
      <p class="stat-text">{{ stat.label }}</p>
    </div>
  </div>
</div>


<footer id="contacto">
  <div class="container">
    
    <!-- Columna 1: Logo y descripción -->
    <div class="footer-column">
      <p>Especialistas con sólidos conocimientos
        adquiridos en nuestra amplia trayectoria aplicados a buscar y
        brindar soluciones personalizadas e innovadoras en
        consultoría, asesoría, entrenamiento especializado e ingeniería</p>
      <div class="social-icons">
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <!-- Columna 2: Servicios -->
   <!-- Columna 2: Servicios -->
<div  class="footer-column">
  <h3>SERVICIOS</h3>
  <ul>
    <li>Auditoría según Ley 29783 - Seguridad y Salud en el Trabajo</li>
    <li>Diseño e implementación de Sistemas de Gestión de Seguridad y Salud en el Trabajo</li>
    <li>Diagnóstico de Línea Base Inicial y Periódica (art.37 Ley 29783)</li>
    <li>Elaboración de Documentos de Gestión de Seguridad y Salud en el Trabajo</li>
    <li>Organización y Asesoramiento Técnico del Comité de Seguridad y Salud en el Trabajo</li>
    <li>Elaboración de Expedientes Técnicos para Licitaciones en SST</li>
    <li>Capacitación y Entrenamiento en Seguridad y Salud en el Trabajo</li>
    <li>Soporte Técnico en Campo: Inspección, Diseño y Señalización</li>
    <li>Planificación y Ejecución de Simulacros</li>
    <li>Monitoreos Ocupacionales</li>
    <li>Asesoría ante Organismos de Fiscalización Laboral (SUNAFIL)</li>
    <li>Elaboración y Actualización de Matriz de Requisitos Legales en SST</li>
    <li>Asesoramiento en Normativa Legal Nacional e Internacional en SST</li>
    <li>Elaboración de Expedientes de Fiscalización Laboral (SUNAFIL)</li>
  </ul>
</div>


    <!-- Columna 3: Contacto -->
    <div class="footer-column">
      <h3>CONTACTO</h3>
      <p><i class="fas fa-map-marker-alt"></i> Piura</p>
      <p><i class="fas fa-envelope"></i> gassiperu@gmail.com</p>
      <p><i class="fas fa-phone"></i> 923496245</p>
      <p><i class="fas fa-phone"></i> 912303353</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>©2025 GASSI PERU - Todos los derechos reservados.</p>
  </div>
  
</footer>





<router-outlet></router-outlet>